body {
    margin : 0px;
    padding: 0px;
    overflow: hidden;
}

#info {
    font-family: arial;
    background-color : rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    left : 10px;
    bottom: 10px;
    width : 200px;
    padding : 1em;
    z-index: 100;
}

#timeline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex: 1 10;
    z-index: 999;
}

#time-slider {
    width: 100%;
}

.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, .6);
}

#logs {
    color: #FFF;
    font-family: sans-serif;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    max-height: 90%;
    overflow-y: scroll;
}

.timeStamp {
    padding: 8px 0;
    border-bottom: #aaaaaa solid 1px;
    
}

.timeStamp:hover {
    cursor: pointer;
}

.pair {
    margin-left: 1em;
}
